<!-- only for Frontend Development-->

<div id="sandbox-sitemap" class="normal">
  <button id="sitemap-button">&#9776;</button>

  <div class="scrollable-container">

    <strong>Sandboxes</strong>
    <ul>
      <li><a href="sandbox.html" tabindex="-1">Sandbox</a></li>
    </ul>
    
    <strong><a href="/index.html">Startseite</a></strong>

    <strong>Unterseiten</strong>
    <ul>
      <li><a href="/landingpage.html">Landingpage</a></li>
      <li><a href="/member.html">Mitglied werden</a></li>
      <li><a href="/contact.html">Kontakt</a></li>
    </ul>
    
    <strong>Unterseiten Inspiration</strong>
    <ul>
      <li><a href="fussballseiteKarl.html" target="_blank" >Fußball</a></li>
      <li><a href="tisch-Tennis-Karl.html" target="_blank" >Tisch-Tennis</a></li>
      <li><a href="news-inspo.html" target="_blank">Aktuelles/News</a></li>
      <li><a href="impressionen-inspo.html" target="_blank">Impressionen</a></li>
    </ul>

    <strong>Screendesign Figma</strong>
    <ul>
      <li><a target=”_blank” rel="noopener" href="https://www.figma.com/design/82AbwmuDbcASNzCWjVBnOR/Screendesign?node-id=618-112&p=f&t=REzosqJymSJKr85H-0" tabindex="-1">Bearbeitung</a></li>
      <li><a target=”_blank” rel="noopener" href="https://www.figma.com/proto/82AbwmuDbcASNzCWjVBnOR/Screendesign?node-id=991-423&p=f&t=REzosqJymSJKr85H-0&scaling=min-zoom&content-scaling=fixed&page-id=618%3A112&starting-point-node-id=991%3A423&show-proto-sidebar=1" tabindex="-1">Ansicht</a></li>
    </ul>
  </div> <!-- scrollable-container -->
</div> <!-- sandbox-sitemap -->