<!--Navigationsbar für Phone und Tablet: Logo und blauer Kasten-->
<div class="navigationbar-phone">
    <a href="/index.html">
          <img src="./assets/img/gsv-logo-removed.png" alt="Logo" width="400px">
    </a>
  <div class="navigationbar-phone-bar">
      <!--Hamburger Button Öffnen-->
      <button class="hamburger-menu" aria-label="Menü öffnen" aria-expanded="false" aria-controls="menu-overlay">
        <span></span>
        <span></span>
        <span></span>
      </button>
  </div>
</div>

<!--Menue Overlay für Phone und Tablet Ansicht-->
<div class="menu-overlay" id="menu-overlay" aria-hidden="true" tabindex="-1">

  <div class="menu-overlay-content">
    <button class="close-menu-overlay" aria-label="Menü schließen">&times;</button>
    <ul>
      <li>
        <!--Icon für football-->
        <a href="/fussball.html">
          <svg class="menu-icon" height="40px" width="40px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_football"></use>
          </svg>
          <span>Fußball</span>
        </a>
      </li>
      <li>
        <!--Icon for tabletennis-->
        <a href="/tischtennis.html">
          <svg class="menu-icon" height="40px" width="40px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_tabletennis"></use>
          </svg>
          <span>Tischtennis</span>
        </a>
      </li>
      <li>
        <!--Icon for news-->
        <a href="/aktuelles.html">
          <svg class="menu-icon" height="40px" width="40px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_news"></use>
          </svg>
          <span>Aktuelles</span>
        </a>
      </li>
      <li>
        <!--Icon for downloads-->
        <a href="/downloads.html">
          <svg class="menu-icon" height="40px" width="40px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_download"></use>
          </svg>
          <span>Downloads</span>
        </a>
      </li>
      <li>
        <!--Icon for about us-->
        <a href="/landingpage.html">
          <svg class="menu-icon" height="40px" width="40px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_aboutus"></use>
          </svg>
          <span>Über uns</span>
        </a>
      </li>
      <li>
        <!-- Icon for contact-->
        <a href="/kontakt.html">
          <svg class="menu-icon" height="40px" width="40px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_contact"></use>
          </svg>
          <span>Kontakt</span>
        </a>
      </li>
      <li>
        <!--Icon for member-->
        <a href="/mitglieder.html">
          <svg class="menu-icon" height="40px" width="40px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_member"></use>
          </svg>
          <span>Mitglied werden!</span>
        </a>
      </li>
    </ul>
  </div>

    <!--social media Kanäle einbinden-->
  <div class="menu-overlay-social-media">
      <a href="https://www.facebook.com/GoyatzerSV/" target="_blank" aria-label="Facebook">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
        </svg>
      </a>
      <a href="https://www.instagram.com/goyatzer_sv/" target="_blank" aria-label="Instagram">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
        </svg>
      </a>
  </div>

</div>

<!--hier kommt die Navigationbar für desktop-Ansicht -->
<div class="navigationbar"> 
  <div class="navigationbar-content">
    
    <!--Logo links-->
    <div class="navigation-logo">
      <a href="/index.html">
        <img src="./assets/img/gsv-logo-removed.png" alt="Goyatzer SV Logo">
      </a>
    </div>
    
    <!--Menü in der Mitte-->
    <div class="navigationbar-menu">
      <ul>
        <li class="nav-dropdown">
          <a href="/fussball.html" class="nav-dropdown-trigger">
            Fußball 
            <svg class="dropdown-arrow">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use>
            </svg>
          </a>
          <div class="nav-dropdown-menu">
            <a href="/fussball.html">Alle Mannschaften</a>
            <a href="/maenner.html">Männermannschaft</a>
            <a href="/altherren.html">Altherren</a>
            <a href="/a-jugend.html">A-Jugend (U17/U18)</a>
            <a href="/b-jugend.html">B-Jugend (U15/U16)</a>
            <a href="/c-jugend.html">C-Jugend (U13/U14)</a>
            <a href="/d-jugend.html">D-Jugend (U11/U12)</a>
            <a href="/e-jugend.html">E-Jugend (U9/U10)</a>
            <a href="/f-jugend.html">F-Jugend (U7/U8)</a>
          </div>
        </li>
        <li><a href="/tischtennis.html">Tischtennis</a></li>
        <li><a href="/aktuelles.html">Aktuelles</a></li>
        <li><a href="/downloads.html">Downloads</a></li>
        <li><a href="/landingpage.html">Über uns</a></li>
        <li><a href="/kontakt.html">Kontakt</a></li>
      </ul>
    </div>
    
    <!--Button rechts-->
    <div class="navigationbar-action">
      <a href="/mitglieder.html" class="primary">Mitglied werden</a>
    </div>
    
  </div>
</div>
